<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Microsoft.LightSwitch.Admin.UserName" value="sdaasPa" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="_IntrinsicData" connectionString="Data Source=p-vdiportalp01.swi.srse.net;Initial Catalog=vdiportalp01;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DiagnosticsData" connectionString="service url=http://localhost/Framework/api/Diagnostics;is windows authentication=True;allow invalid certificate=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CoreData" connectionString="service url=http://localhost/Framework/api/Core;is windows authentication=True;allow invalid certificate=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="AspNetMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetMembershipProvider" type="Microsoft.LightSwitch.Security.ServerGenerated.Implementation.WindowsUserMembershipProvider, Microsoft.LightSwitch.Server, Version=12.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="_IntrinsicData" applicationName="biz.dfch.CS.Sunrise.DaaS.Administration" xdt:Transform="Replace"/>
      </providers>
    </membership>
    <roleManager enabled="True" defaultProvider="AspNetRoleProvider">
      <providers>
        <clear />
        <add name="AspNetRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="_IntrinsicData" applicationName="biz.dfch.CS.Sunrise.DaaS.Administration" xdt:Transform="Replace"/>
      </providers>
    </roleManager>
    <profile enabled="True" defaultProvider="AspNetProfileProvider">
      <providers>
        <clear />
        <add name="AspNetProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="_IntrinsicData" applicationName="biz.dfch.CS.Sunrise.DaaS.Administration" xdt:Transform="Replace"/>
      </providers>
      <properties>
        <add name="FullName" />
      </properties>
    </profile>
  </system.web>
</configuration>